* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inp {
    display: block;
    margin: 200px auto 50px;
    font-size: 25px;
    padding: 5px 10px;
    width: 500px;
}

.btn {
    margin: 0 auto;
    display: block;
    font-size: 20px;
    padding: 5px 50px;
}